* {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 32px;
    line-height: 150%;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

.apresentacao {
    display: flex;
    align-items: stretch;
    margin-bottom: 50px;
    margin-left: 80px;
}

.logo-a {
    margin:10px;
    padding-top: 10px;
    width: 5%;
}


.area-do-texto {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871;  }
    .area-do-texto:focus {
        outline: none;
    }

.mensagem {
    background: white;
    background-image: url(/imagens/modelo.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.bt-cript {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.bt-descript {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 30px;
}

.bt-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 336px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
} 

.informacao {
    color: #65747D;
    font-size: 18px;
}